img  {
    width: 700px; 
}
    body { 
        text-align: center;
        background-image:url('https://s3-eu-west-1.amazonaws.com/static.nextnature.net/app/uploads/2009/10/090723194321-large.jpg');
    } 
     